* {
	font-family: Helvetica,sans-serif;
	color: #11CCAA;
	background-color: #333333;
}

h1 {
	font-family: Helvetica,sans-serif;
	color: red;
	font-size: 2em;
}

.fieldLabel {
	display: table-cell;
}

input {
	background-color: #555555;
	border: 1px solid #888888;
	border-radius: 5px;
}

button {
	background-color: black;
	border: 1px solid #888888;
	border-radius: 5px;
}

#titleLine {
	height: 50px;
}